body {
	background-color: #5F5F5F;
}
.sub-container {
	background-color: #BEBEBE;
}
.main-container {
	background-color: #E4E4E4;
	font-size: 16px;
	font-family: 'Courier New';
	font-weight: 900;
	letter-spacing: 1px;
	margin: auto;
	max-width: 600px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	text-align: center;
	vertical-align: middle;
}
.next-link {
	font-family: 'Courier New';
	font-size: 24px;
	padding-bottom: 25px;
	padding-top: 20px;
	text-align: left;
}
.footer {
	font-size: 13px; 
	text-align: center; 
	font-family: 'Courier New'; 
	vertical-align: middle; 
	max-width: 600px; 
	margin: auto; 
	padding: 10px;
}
.chat {
	font-size: 13px;
	letter-spacing: 1px;
	font-family: 'Courier New';
	word-break: break-word;
	text-align: left;
}
.chat-box {
	max-width: 500px;
	outline-color: #A8A8A8;
	outline-width: 1px;
	outline-style: dashed;
	text-align: left;
	vertical-align: middle;
	margin: auto; 
	padding: 20px;
}